name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  ci:
    name: CI
    uses: Skycoder42/dart_test_tools/.github/workflows/dart.yml@main
    with:
      needsFlutterSdk: true
      buildRunner: true
      unitTestPaths: ""
      panaScoreThreshold: 10

  cd:
    name: CD
    needs:
      - ci
    uses: Skycoder42/dart_test_tools/.github/workflows/release.yml@main
    secrets:
      githubToken: ${{ secrets.GH_PAT }}
